<section style="margin-top: 5%;">
  <p-table [columns]="cols" [value]="subCats" selectionMode="single" [(selection)]="selectedSubCat" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption" style="background-color: #F4F4F4!important;">
      List of Sub Categories
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
          <ng-template #nested_object_content>
            {{rowData[col.field][col.subfield]}}
          </ng-template>
          <ng-template #normal_content>
            {{rowData[col.field]}}
          </ng-template>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
    </ng-template>
  </p-table>

  <p-dialog header="Car Details" [contentStyle]="{'overflow':'visible'}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '500px'}">
    <div class="ui-g ui-fluid" *ngIf="subCat">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="subCategoryName">Sub Category Name</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="subCategoryName" [(ngModel)]="subCat.name" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="categoryName">Parent Category</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown [options]="categories" [(ngModel)]="parentCategory" optionLabel="name" (onChange)="SelectedSubCat()"></p-dropdown>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-close" (click)="update()" label="Update" *ngIf="!newSubCat"></button>
        <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
        <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save" *ngIf="newSubCat"></button>
      </div>
    </p-footer>
  </p-dialog>
</section>

